body{
margin: 0px;
 background-color: #64748b;
}
div>.change-my-color{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%);
}
.dash{
    height: 40px;
    width: 40px;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 2fr;
}
.sidebar{
    grid-row: 1/3;
    background-color: rgb(0, 132, 255);
    color:white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    font-size: large;
}
.header{
    grid-row: 1/2;
    background-color: white;
}
.content{
    grid-column: 2/3;
}
.nav,.brand{
    display: grid;
    gap: 10px;
}
.nav{
    margin-bottom: 50px;
}
.search,.bell{
    height: 30px;
    width: 30px;
    margin: 10px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}
.header{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap:15px;
}
.form{
    display: flex;
justify-content: space-between;
align-items: center;
>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
    }
form{
    display: flex;
    align-items: center;
    gap: 10px;
    >div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
input{
    width: 650px;
    height: 30px;
    border-radius: 25px;
    border:1px solid rgb(163, 158, 158);
    margin-right: 150px;
    background-color: rgb(163, 158, 158);
}
.last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.man{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid aqua ;
}
.profile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
}
button{
    color: white;
    border-radius: 10px;
    border: 1px solid  rgb(0, 132, 255);
    height: 30px;
    width: 100px;
    background-color: rgb(0, 132, 255);
    margin-top: 20px;
}
.content{
    margin:15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.projects{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3,150px);
    grid-auto-rows: 150px;
}
.project{
    background-color: white;
    padding: 15px;
    border-left: 5px solid yellow;
}
.news{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}
.news>div{
    padding: 15px;
    height: 250px;
    background-color: white;
}
.text{
    font-size: large;
    color: black;
    background-color: wheat;
    height: 10px;
    grid-column: 1/3;
    margin-bottom: 0px;
    padding: 0px;
}